@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background: #ecf2f8;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 80%;
  background: #fff;
  height: 50vh;
  border-radius: 10px;
}

.img-section {
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}
.img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 70px;
  justify-content: space-around;
  height: 100%;
}

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-text h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #48556a;
  line-height: 35px;
  margin-top: 20px;
}
.section-text p {
  margin-top: 15px;
  color: #9eafc2;
}

.section-text-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 50px;
}

.avatar-content {
  margin-left: 20px;
}
.avatar-content h1 {
  color: #48556a;
}
.avatar-content p {
  color: #9eafc2;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.share button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.share-hover {
  position: absolute;
  top: -170%;
  left: -300%;
  display: none;
  align-items: center;
  background: #6d7f97;
  padding: 10px 50px;
  width: 200px;
  height: 5vh;
  border-radius: 8px;
}

.share-hover p {
  color: #9eafc2;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 13px;
}

.share-hover img {
  width: 15px;
  margin-left: auto;
}

.share:hover .share-hover {
  display: flex;
  align-items: center;
}
